<h2>About Experi Rentals</h2>

<p>The Experi Rentals website is a delightful project created to explore Ember.<br>
  We seek to match people to risky dwellings <br>
  AND build Ember applications simultaneously.</p>

  {{#link-to 'contact'}}Click here to contact us. {{/link-to}}
